@charset "UTF-8";
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/RobotoMono-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/RobotoMono-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/RobotoMono-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto Mono GitHub";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/RobotoMono-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto Mono GitHub";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/RobotoMono-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto Mono GitHub";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/RobotoMono-Bold.ttf) format("truetype");
}
:root {
  --black: #1d1d1d;
  --white: white;
  --yunivers-pink: #f223b5;
  --yunivers-light-pink: #fcd3f0;
  --danger-red: #d50b26;
  --grey: #dddddd;
  --light-grey: #F1F1F1;
  --font-list: Roboto Mono, Roboto Mono GitHub, sans-serif;
}

* {
  font-family: var(--font-list);
  font-style: normal;
}

body {
  padding: 0 calc((100% - 800px) / 2);
  max-width: 90%;
  margin: 0 auto;
}

input[type=text],
input[type=password],
input[type=date],
input[type=email] {
  border: solid 1px #1d1d1d;
  border-radius: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #1d1d1d;
  padding: 12px 12px;
  background-color: transparent;
  transition: border-color 0.1s ease;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=date]:focus,
input[type=email]:focus {
  outline: none;
  border-color: #f223b5;
}

select {
  height: 100%;
  min-height: 42px;
  border: solid 1px var(--black);
  border-radius: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: var(--black);
  background-color: transparent;
  transition: border-color 0.1s ease;
}
select option {
  font-family: var(--font-list);
}
select:focus {
  outline: none;
  border-color: #f223b5;
}

button,
input[type=submit] {
  background-color: #1d1d1d;
  border: solid 1px #1d1d1d;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: white;
  padding: 12px 35px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  border-radius: 0;
  transition: border-color 0.1s ease;
}
button:focus,
input[type=submit]:focus {
  outline: none;
  border-color: #f223b5;
}
button:hover,
input[type=submit]:hover {
  color: #1d1d1d;
  background-color: transparent;
}
button.alt,
input[type=submit].alt {
  background-color: #f1f1f1;
  border-color: #f1f1f1;
  color: #1d1d1d;
}
button.alt:hover,
input[type=submit].alt:hover {
  color: #1d1d1d;
  background-color: transparent;
}
button.danger,
input[type=submit].danger {
  background-color: #f1f1f1;
  border-color: #f1f1f1;
  color: #d50b26;
}
button.danger:hover,
input[type=submit].danger:hover {
  background-color: #d50b26;
  border-color: #d50b26;
  color: white;
}
button:disabled,
input[type=submit]:disabled {
  cursor: not-allowed;
  border-color: #888888;
  background-color: #888888;
  color: white;
}
button:disabled:hover,
input[type=submit]:disabled:hover {
  border-color: #888888;
  background-color: #888888;
  color: white;
}

label {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #1d1d1d;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 48%;
  margin-bottom: 20px;
}
.input-wrapper label {
  margin-bottom: 5px;
}
.input-wrapper.full-width {
  width: 100%;
}
.input-wrapper.single-item {
  margin-right: 52%;
}
.input-wrapper.multiple-buttons {
  flex-direction: row;
  justify-content: space-between;
}
.input-wrapper.multiple-buttons button {
  width: 48%;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form .hover-right {
  margin-left: auto;
}

h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 47px;
  color: #1d1d1d;
}

a {
  transition: color 0.2s ease;
}
a:hover {
  color: #f223b5 !important;
}

.breadcrumbs a, .breadcrumbs span {
  color: #1d1d1d;
  text-decoration: none;
}
.breadcrumbs a:last-child, .breadcrumbs span:last-child {
  opacity: 0.6;
}
.breadcrumbs a:last-child::after, .breadcrumbs span:last-child::after {
  content: unset;
}
.breadcrumbs a::after, .breadcrumbs span::after {
  content: " ›";
  font-size: 18px;
}

#toast-container {
  position: fixed;
  top: 5px;
  right: calc((100% - 800px) / 2);
}
#toast-container .toast-info {
  background-color: var(--white);
  border: solid 1px var(--yunivers-pink);
  color: var(--black);
  padding: 5px 15px;
  font-size: 12px;
  border-radius: 5px;
  margin-bottom: 5px;
}/*# sourceMappingURL=theme.css.map */