$black: #1d1d1d;
$white: white;
$yunivers-pink: #f223b5;
$yuniver-light-pink: #fcd3f0;
$danger-red: #d50b26;
$grey: #dddddd;
$font-list: 'Roboto Mono', 'Roboto Mono GitHub';

@mixin yunv-outline {
    transition: border-color 0.1s ease;
    &:focus {
        outline: none;
        border-color: $yunivers-pink;
    }
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/fonts/RobotoMono-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/RobotoMono-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/RobotoMono-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto Mono GitHub';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../fonts/RobotoMono-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto Mono GitHub';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/RobotoMono-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto Mono GitHub';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/RobotoMono-Bold.ttf) format('truetype');
}

:root {
    --black: #{$black};
    --white: #{$white};
    --yunivers-pink: #{$yunivers-pink};
    --yunivers-light-pink: #{$yuniver-light-pink};
    --danger-red: #{$danger-red};
    --grey: #{$grey};
    --font-list: #{$font-list};
}

* {
    font-family: var(--font-list);
    font-style: normal;
}

body {
    padding: 0 calc((100% - 800px) / 2);
    max-width: 90%;
    margin: 0 auto;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="email"] {
    border: solid 1px $black;
    border-radius: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: $black;
    padding: 12px 12px;
    background-color: transparent;
    @include yunv-outline;
}

select {
    height: 100%;
    min-height: 42px;
    border: solid 1px var(--black);
    border-radius: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: var(--black);
    background-color: transparent;
    option {
        font-family: var(--font-list);
    }
    @include yunv-outline;
}

button,
input[type="submit"] {
    background-color: $black;
    border: solid 1px $black;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: $white;
    padding: 12px 35px;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
    border-radius: 0;
    @include yunv-outline;
    &:hover {
        color: $black;
        background-color: transparent;
    }
    &.alt {
        background-color: #f1f1f1;
        border-color: #f1f1f1;
        color: $black;
        &:hover {
            color: $black;
            background-color: transparent;
        }
    }
    &.danger {
        background-color: #f1f1f1;
        border-color: #f1f1f1;
        color: $danger-red;
        &:hover {
            background-color: $danger-red;
            border-color: $danger-red;
            color: $white;
        }
    }
    &:disabled {
        cursor: not-allowed;
        border-color: #888888;
        background-color: #888888;
        color: $white;
        &:hover {
            border-color: #888888;
            background-color: #888888;
            color: $white;
        }
    }
}

label {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: $black;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 48%;
    margin-bottom: 20px;
    label {
        margin-bottom: 5px;
    }
    &.full-width {
        width: 100%;
    }
    &.single-item {
        margin-right: 52%;
    }
    &.multiple-buttons {
        flex-direction: row;
        justify-content: space-between;
        button {
            width: 48%;
        }
    }
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .hover-right {
        margin-left: auto;
    }
}

h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    color: $black;
}

a {
    transition: color 0.2s ease;
    &:hover {
        color: $yunivers-pink !important;
    }
}

.breadcrumbs {
    a, span {
        color: $black;
        text-decoration: none;
        &:last-child {
            opacity: 0.6;
            &::after {
                content: unset;
            }
        }
        &::after {
            content: " \203A";
            font-size: 18px;
        }
    }
}