:root {
  --black: #1D1D1D;
  --white: white;
  --yunivers-pink: #F223B5;
  --yunivers-light-pink: #fcd3f0;
  --danger-red: #D50B26;
  --grey: #DDDDDD;
}

* {
  font-family: 'Roboto Mono';
  font-style: normal;
}

body {
  padding: 0 calc((100% - 800px) / 2);
  max-width: 90%;
  margin: 0 auto;
}

input[type="text"], input[type="password"], input[type="date"] {
  border: solid 1px #1D1D1D;
  border-radius: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #1D1D1D;
  padding: 12px 12px;
  background-color: transparent;
  -webkit-transition: border-color .1s ease;
  transition: border-color .1s ease;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus {
  outline: none;
  border-color: #F223B5;
}

select {
  height: 100%;
  min-height: 42px;
  border: solid 1px var(--black);
  border-radius: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: var(--black);
  background-color: transparent;
  -webkit-transition: border-color .1s ease;
  transition: border-color .1s ease;
}

select option {
  font-family: 'Roboto Mono';
}

select:focus {
  outline: none;
  border-color: #F223B5;
}

button, input[type="submit"] {
  background-color: #1D1D1D;
  border: solid 1px #1D1D1D;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: white;
  padding: 12px 35px;
  cursor: pointer;
  -webkit-transition: background-color .2s ease, color .2s ease;
  transition: background-color .2s ease, color .2s ease;
  border-radius: 0;
  -webkit-transition: border-color .1s ease;
  transition: border-color .1s ease;
}

button:focus, input[type="submit"]:focus {
  outline: none;
  border-color: #F223B5;
}

button:hover, input[type="submit"]:hover {
  color: #1D1D1D;
  background-color: transparent;
}

button.alt, input[type="submit"].alt {
  background-color: #F1F1F1;
  border-color: #F1F1F1;
  color: #1D1D1D;
}

button.alt:hover, input[type="submit"].alt:hover {
  color: #1D1D1D;
  background-color: transparent;
}

button.danger, input[type="submit"].danger {
  color: #D50B26;
}

button.danger:hover, input[type="submit"].danger:hover {
  background-color: #D50B26;
  border-color: #D50B26;
  color: white;
}

button:disabled, input[type="submit"]:disabled {
  background-color: #888888;
  color: white;
}

label {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #1D1D1D;
}

.input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 48%;
  margin-bottom: 20px;
}

.input-wrapper label {
  margin-bottom: 5px;
}

.input-wrapper.full-width {
  width: 100%;
}

.input-wrapper.single-item {
  margin-right: 52%;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form .hover-right {
  margin-left: auto;
}

h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 47px;
  color: #1D1D1D;
}

a {
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
}

a:hover {
  color: #F223B5 !important;
}

.breadcrumbs a, .breadcrumbs span {
  color: #1D1D1D;
  text-decoration: none;
}

.breadcrumbs a:last-child, .breadcrumbs span:last-child {
  opacity: 0.6;
}

.breadcrumbs a:last-child::after, .breadcrumbs span:last-child::after {
  content: unset;
}

.breadcrumbs a::after, .breadcrumbs span::after {
  content: " \203A";
  font-size: 18px;
}
/*# sourceMappingURL=theme.css.map */